@page "/Slot"

@using BlazorTreeView.Shared.Models.Devices
@using BlazorTreeView.Services
@using System.Timers

@inject DeviceHierarchyRequestServicecs deviceHierarchyRequestServicecs
@inject NavigationManager navigationManager
@inject DeviceHierarchyService deviceHierarchyService
@inject NotifyerService notifyService

<h3>SlotPage</h3>

<div class="card">
	</div>
	<div class="card-body">
		<EditForm Model=@deviceHierarchyService.SelectedDevice>
			<div class="form-group mb-3">
				<label for="MyInputText">Название</label>
				<InputText @bind-Value=deviceHierarchyService.SelectedDevice.Name id="MyInputText" class="form-control" />
			</div>
            <div class="form-group mb-3">
				<label for="MyInputNumber1">Номер (integer)</label>
				<InputNumber @bind-Value=@(((Slot)deviceHierarchyService.SelectedDevice).Number) id="MyInputNumber1" class="form-control" ParsingErrorMessage="Введите целочисленное значение" />
			</div>
            <div class="form-group mb-3">
				<label for="MyInputText">Устройство</label>
				<InputText @bind-Value=@(((Slot)deviceHierarchyService.SelectedDevice).PlugedDevice) id="MyInputText" class="form-control" />
			</div>
		</EditForm>
</div>
<hr />

<button class="btn btn-primary" @onclick="SaveToDbClick">Сохранить</button>


@code
{
    private void SaveToDbClick()
    {
        deviceHierarchyRequestServicecs.SendHyerarchyAsync(deviceHierarchyService.Devices);
        notifyService.NotifyHierarchyChanged();
    }
}