@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <TreeViewComponent/>
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://github.com/IlyaRelease" target="_blank">Пример приложения Blazor. Никитин Илья</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
